.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4em 3em 4em 3em;

    background-color: #ffffff;
}

.about-section h1 {
    color: #2d2e32;
    margin-bottom: 2em;
}

.about-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 35em;
}

.about-section .container .image-container {

    flex-shrink: 0;
    
    border-radius: 20px;
    
    overflow: hidden;
}

.about-section .container p {


    line-height: 150%;
    color: #515151;
    
    margin: 2em 0em;
}

.about-section .container .image-container img {
    width: 100%;
}



@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }

@media (min-width:600px) {
    
}


@media (min-width:801px) { 
    
 }
@media (min-width:1025px) {
    .about-section {
        padding: 5em;
        
    }
    .about-section .container {
        flex-direction: row;
        max-width: 60em;
        gap: 8em;
    }
    .about-section .container .image-container{
        max-width: 30em;
        margin: 0;
    }
    .about-section .container p {
        max-width: 23em;
        margin: 1em 0em;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }