footer {

    background-color: #2d2e32;
}


footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1em;
    font-weight: bold;
    letter-spacing: .05em;

    padding: 2.5em 2em;

    color: white;
}

footer .container .footer-icons-container {
    display: flex;
    gap: .7em;

    font-size: 1.5em;

    
}

footer .container .footer-icons-container i {
    cursor: pointer;
}