.github-link {
    position: relative;

    display: flex;
    align-items: center;
    gap: .7em;

    padding: 1em 2em;

    border-radius: 0px;

    font-weight: 500;
    font-size: 1.2em;

    color: black;
    background: none;

    text-decoration: none;

    cursor: pointer;
}

.github-link i {
    font-size: 1.3em;
}