
.projects-wrapper {
    

    display: flex;
    flex-direction: column;
    gap: 8em;
    justify-content: center;
    align-items: center;
    

    padding: 1em 2em;
    width: 100%;
}

.project-container {
    min-width: auto; /* change on desktop view */
    max-width: 30em;

    padding: 2em 2em 1em 2em;

    background-color: white;

    border-radius: 20px;

    box-shadow: 0px -1px 12px 2px rgba(0,0,0,0.13);
    -webkit-box-shadow: 0px -1px 12px 2px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px -1px 12px 2px rgba(0,0,0,0.13);

    scroll-snap-align: center;
}








.project-container .project-image-container {
    display: grid;
    place-items: center;
    
    width: 100%;

    border-radius: 20px;
    overflow: hidden;
    
    /* box-shadow: 0px -1px 12px 2px rgba(0,0,0,0.43);
    -webkit-box-shadow: 0px -1px 12px 2px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px -1px 12px 2px rgba(0,0,0,0.43); */

}


.project-container .project-image-container .project-image {
    height: auto;
    width: 100%;

    object-fit: contain;
}

.project-container .project-image-container video {
    height: auto;
    width: 100%;

    object-fit: contain;
}


.project-container .project-text-container {
    text-align: center;
    line-height: 1.3em;
}

.project-container .project-text-container h2{
    margin: 1em;
}

.project-container .project-text-container p{
    width: 80%;
    margin: 1.5em auto;
    color: #515151;
    line-height: 1.5em;
}

.project-container .btn-wrapper {

    display: flex;
    justify-content: center;
    align-items: baseline;

    gap: 1em;

    margin: 1em 0 0 1.1em;
}

.project-container .btn-wrapper a {
    position: relative;
    padding: 1em;
    font-weight: 500;
}


.project-container .btn-wrapper a:hover {
    color: rgb(52, 89, 255);
}





@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }

@media (min-width:600px) {
    
}


@media (min-width:801px) { 


 }
@media (min-width:1025px) {
    .projects-wrapper {
        
        max-width: 60em;
        padding: 0;

        
    }
    
    .project-container {
        display: flex;
        align-items: center;
        gap: 1em;
        
        
        max-width: none;
        width: 100%;

        margin: 0;
        padding: 2em
    }

    .project-image-container {
        flex: 0 0 55%;
    }

    .project-text-container {
        flex: 0 0 45%;
    }

    .project-container .project-text-container h2{
        margin: 0 0 1em 0;
    }
    
    .project-container .project-text-container p{

        margin: 0 auto;

    }
    
    .project-container .btn-wrapper {

    
        margin: 1em 0 0 0;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }